.buttonsWrapper {
    color: white;
}

.playButton {
    width: 100px;
}

.button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    margin: 10px;
    cursor: pointer;
}