.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    min-height: 100vh;
  }

.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; 
    margin-top: 200px;
}

.text {
    line-height: 180%;
}

.backgroundPhoto {
    z-index: -3; 
    opacity: 0.5;
    transform-origin: center center;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(0, 0) rotate(0deg);
        filter: hue-rotate(0deg);
    }

    15% {
        transform: translate(-25px, 0) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
        filter: hue-rotate(360deg);
    }
}